<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    
                </div>
            </div>
            <div class="row text-left">
				<div class="col-md-3">
                  
                    <h2 class="service-heading">Threading</h2>
					<h4 class="service-heading">Eyebrows&nbsp;&nbsp;- $10</h4>
					<h4 class="service-heading">Forehead&nbsp;&nbsp;&nbsp;- $xx</h4>
					<h4 class="service-heading">Upper Lip&nbsp;&nbsp;- $6</h4>
					<h4 class="service-heading">Lower Lip&nbsp;&nbsp;- $6</h4>
					<h4 class="service-heading">Chin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- $8</h4>
					<h4 class="service-heading">Neck&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- $xx</h4>
					<h4 class="service-heading">Full Face&nbsp;&nbsp;&nbsp;&nbsp;- $35</h4>
					<h4 class="service-heading">Sideburns&nbsp;- $9+</h4>
					
                </div>
			    
			    <div class="col-md-3">
                  
                    <h2 class="service-heading">Waxing</h2>
					<h4 class="service-heading">Ear&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- $xx</h4>
					<h4 class="service-heading">Forehead&nbsp;&nbsp;&nbsp;- $xx</h4>
					<h4 class="service-heading">Neck&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- $xx</h4>
					<h4 class="service-heading">Chin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- $10</h4>
					<h4 class="service-heading">Full Face&nbsp;&nbsp;&nbsp;&nbsp;- $xx</h4>
					<h4 class="service-heading">Sideburns&nbsp;- $11</h4>
					<h4 class="service-heading">Underarm&nbsp;- $xx</h4>
                </div>
				
                <div class="col-md-3">
                    
					<h2 class="service-heading">Eyelash Service</h2>
					<h4 class="service-heading">Eyelashes Extension&nbsp;&nbsp;&nbsp;- $30</h4>
					<h4 class="service-heading">Cluster Eyelashes Extension(Natural)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- $xx</h4>
					<h4 class="service-heading">Cluster Eyelashes Extension(Dramatic)&nbsp;&nbsp;&nbsp;- $45</h4>
					<h4 class="service-heading">Eyelash Extension Fill - $xx</h4>
				</div>
				
				<div class="col-md-3">
                    
					<h2 class="service-heading">Miscellaneous</h2>
					<h4 class="service-heading">Henna Tattoo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- $xx</h4>
					<h4 class="service-heading">Eyebrows Tinting&nbsp;- $15</h4>
					<h4 class="service-heading">Eyelashes Tinting&nbsp;- $20</h4>
				</div>
			</div>
			<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Threading, waxing, cluster eyelashes and tinting services are done on a walk-in basis.</p>
					<p class="large text-muted">Eyelash extensions are done by appointment only.<br></p>
				</div>
			</div>	
			
				<div class="col-md-12 text-left" class="text-lowercase">
					<h5 class="service-heading"><li>Browtint gives you an instant face-left by developing darker and fuller looking brows.</li></h5>
					<h5 class="service-heading"><li>Eyelash tint creates a contrast between the whites of the eyes and your newly darkened lashes to make your eyes look brighter and wide open.</li></h5>
					<h5 class="service-heading"><li> Cluster eyelashes last for up to two weeks and are guranteed for one week. These eyelashes give you the look of eyelash extension wtih less commitment.</li><h5>
					<h5 class="service-heading"><li> Eyelash extensions are applied to each individual lash one by one. Eyelash extensions enhance the length, thickness and fullness of natural eyeslashes resulting in gorgeous eyes that pop and don't require any mascara and very little need for makeup. This process takes approximately 90 minutes.</li></h5>
				</div>
			
	    </div>
    </section>