<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">STORE HOURS</h2>
 <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
</head>
<body>

<!--<h2>Two Equal Columns</h2>-->

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Squirrel Hill Store</h2>
        <p>Address: 2027 Murray Ave, Pittsburgh, PA 15217</br>Phone: 412-330-9788</p>
       
    <h4 class="service-heading"><br>Sun  &nbsp;&nbsp;: 11:00AM to 06:00PM</br></h4>
                        
    <h4 class="service-heading"><br>Mon  &nbsp;: Closed</br></h4>
          
    <h4 class="service-heading"><br>Tue  &nbsp;: 11:00AM to 06:00PM</br></h4>
                
    <h4 class="service-heading"><br>Wed  &nbsp;: 10:00AM to 07:00PM</br></h4>
                
    <h4 class="service-heading"><br>Thu  &nbsp;&nbsp;&nbsp;: 10:00AM to 07:00PM</br></h4>
        
    <h4 class="service-heading"><br>Fri  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 10:00AM to 07:00PM</br></h4>
    
    <h4 class="service-heading"><br>Sat  &nbsp;&nbsp;&nbsp;&nbsp;: 10:00AM to 06:00PM</br></h4>  
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Cranberry Store</h2>
        <p>Address: 20550 Route 19 Suite 14, Cranberrry, PA 16066 </br>Phone: 724-713-4136</p>
        <h4 class="service-heading"><br>Sun  &nbsp;&nbsp;: 11:00AM to 05:00PM</br></h4>
                        
    <h4 class="service-heading"><br>Mon  &nbsp;: Closed</br></h4>
          
    <h4 class="service-heading"><br>Tue  &nbsp;&nbsp;&nbsp;: 10:00AM to 06:00PM</br></h4>
                
    <h4 class="service-heading"><br>Wed  &nbsp;: 10:00AM to 07:00PM</br></h4>
                
    <h4 class="service-heading"><br>Thu  &nbsp;&nbsp;&nbsp;: 10:00AM to 07:00PM</br></h4>
        
    <h4 class="service-heading"><br>Fri  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 10:00AM to 07:00PM</br></h4>
    
    <h4 class="service-heading"><br>Sat  &nbsp;&nbsp;&nbsp;&nbsp;: 10:00AM to 07:00PM</br></h4> 
  </div>
</div>
<!--                   <h3 class="section-subheading text-muted"><br>Address: 2027 Murray Ave, Pittsburgh, PA 15217</br>Phone: 412-330-9788</h3>
                </div>
            </div>
            <div class="row">
					<div class="col-md-4">
                        <h4 class="service-heading"><br>Sun  &nbsp;&nbsp;: 11:00AM to 06:00PM</br></h4>
                        
						<h4 class="service-heading"><br>Mon  &nbsp;: 10:00AM to 05:00PM</br></h4>
          
						<h4 class="service-heading"><br>Tue  &nbsp;&nbsp;&nbsp;: Closed</br></h4>
                
						<h4 class="service-heading"><br>Wed  &nbsp;: 10:00AM to 07:00PM</br></h4>
                
						<h4 class="service-heading"><br>Thu  &nbsp;&nbsp;&nbsp;: 10:00AM to 07:00PM</br></h4>
        
						<h4 class="service-heading"><br>Fri  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 10:00AM to 07:00PM</br></h4>
    
						<h4 class="service-heading"><br>Sat  &nbsp;&nbsp;&nbsp;&nbsp;: 10:00AM to 07:00PM</br></h4>
         										
					</div>
					
-->
            </div>
            <!--<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">We are excited to do this business in Squirrel Hill. This is an amazing neighborhood/business district that is full of stores, restaurants, tea shops, art and diverse curlture. It is not difficult to find parking and we are close to every major University. We always offer a generous student discount to students and will offer loyalty punch card for free services to everyone else. We also offer discounts to hospital employees and military personnel.</p>
                </div>
            </div>-->
        </div>
    </section>